[submodule "external/sequential_social_dilemma_games"]
	path = external/sequential_social_dilemma_games
	url = https://github.com/SwamyDev/sequential_social_dilemma_games.git 
  branch = amarl
[submodule "external/ray"]
	path = external/ray
  url = https://github.com/SwamyDev/ray.git
  branch = fix-symlink
